
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
    background-color: #F3F5FC;
    font-family: inter;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}

header {
    grid-row: 1;
    grid-column: 1;
}

.container {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas: "left right";
}

.left-container {
    grid-area: left;
    padding: 10px;
}

.right-container {
    position: relative;
    grid-area: right;
    padding: 10px;
}

h1 {
    color: #0A3871;
    font-weight: 400;
    size: 32px;
    line-height: 48px;
}

.btn-cript {
    background-color: #0A3871;
    width: 200px;
    height: 48px;
    top: 168px;
    left: 240px;
    color: white;
    font-weight: 400;
    size: 32px;
    line-height: 48px;
    border-radius: 15px;
    gap: 8px;
    margin-right: 20px;
}

.btn-decript {
    background-color: #D8DFE8;
    width: 200px;
    height: 48px;
    top: 168px;
    left: 240px;
    color: #0A3871;
    size: 32px;
    line-height: 48px;
    border-radius: 15px;
    gap: 8px;
}

h3 {
    color: #343A40;
    font-weight: 700;
    size: 24px;
    line-height: 28.8px;
    align-items: center;
}

h4 {
    color: #495057;
    font-weight: 400;
    size: 16px;
    line-height: 4px;
    align-items: center;
}

.informative {
    display: block;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.btn-copy {
    background-color: white;
    width: 200px;
    height: 48px;
    top: 168px;
    left: 240px;
    color: #0A3871;
    size: 32px;
    line-height: 48px;
    border-radius: 15px;
    gap: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #0A3871;
    font-weight: 400;
    line-height: 48px;
    padding: 10px 20px;
    text-align: center;
}

.logoFooter {
    border-radius: 8px;
    width: 200px;
    height: auto;
    position: absolute;
    right: 20px;
}

.textBox {
    width: 100%;
    height: 500px;
    padding: 10px;
    font-size: 36px;
    color: #0A3871;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    resize: none;
    font-family: inter;
    vertical-align: top;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "left"
            "right";
    }

    .right-container, .left-container {
        padding: 20px;
    }

    .btn-cript, .btn-decript, .btn-copy {
        width: 100%;
        margin-bottom: 10px;
    }

    .informative {
        width: 100%;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 14px;
        line-height: 200px;
        text-align: center;
    }

    footer {
        flex-direction: column;
        padding: 20px 10px;
    }

    .logoFooter {
        position: static;
        margin-top: 20px;
    }
}